        <meta name="title" content="{{ page.title }} | purushothaman"/>
        <meta name="description" content="{{ page.description }}"/>
        <meta name="keywords" content="purushothaman"/>

        <meta property="og:type" content="article" />
        <meta property="og:title" content="{{ page.title }} | purushothaman" />
        <meta property="og:description" content="{{ page.description }}" />
        <meta property="og:url" content="{{ site.url }}{{ page.url }}" />

        <meta name="twitter:title" content="{{ page.title }} | purushothaman" />
        <meta name="twitter:description" content="{{ page.description }}" />
        <meta name="twitter:creator" content="@pruzoth">
        <meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />
        <meta name="twitter:site" content="@pruzoth" />
        <meta name="twitter:domain" content="hellopurushoth.in" />