---
layout: post
title: Object Tracking and Recognition in a Video Surviellience Scenario
description:  Object Tracking and Recognition in MATLAB, Artificial Intelligence, Computer Vision, KNN Classifier
date: '2018-07-26T00:25:00.001+05:30'
comments: true
author: Purushothaman Pachiappan
tags:
- Object Tracking,
- Computer Vision, 
- MATLAB, 
- Recognition, 
- Artifical Intelligence, 
- Object Classificaion 
---

<div> <b> Tags: </b>{% for tag in page.tags %} <u>{{ tag }}</u>{% endfor %}</div>
<br>
<div style=" position: relative;
    overflow: hidden;
    padding-top: 56.25%;">
<center><iframe  style="position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;" src="https://www.youtube.com/embed/kTO8eBQ31XQ"  width="740" height="450" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></center>
</div>
<br>
<div>
<center><p><b><u>Credits</u>: iCAIN 2014</b></p>
<img src="/iCAIN_2014.jpg" alt="iCAIN_2014" width="350" height="280" ></center>

</div>

<div class="Previous-next">
  {% if page.previous.url %}
    <a class="previous" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
</div>